.modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
    margin: 0 auto;
    background: #ffffff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    transition: visibility 0s, opacity 0.3s;
    z-index: 1;
}

.modal-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color : #5B2386;
    font-family: 'OTEnjoystoriesBA';
}

.modal-title {
    color : #5B2386;
    font-size: 80px;
  }

 p {
    font-size: 30px;
    margin: 0;
    padding: 0;
  }

img {
    display: block;
    margin: 0 auto 20px;
  }

  .modal-close {
    display: block;
    padding: 10px 40px;
    background-color: #FCEE21;
    margin: 0 auto;
    border-radius: 56px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    font-size: 24px;
    font-weight: 700;
    color: #5B2386;
    line-height: 24px;
    cursor: pointer;
    border: transparent;
}

.modal-close-text {
  font-family: 'GmarketSansMedium';
  color: #747474;
  font-size: 13px;
}

